@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/IndexStyle.css" />

<div class="text-center">
    <h1 class="display-1">StreamPet</h1>
    
</div>

    <div class='container-fluid ' >
        <input class="form-control-lg w-100 mx-auto mt-5 border-0 rounded-2" type="text" placeholder="Pesquise..."/ ">
    </div>
    
